{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
<div style="text-align: center;">
    La práctica ha finalizado
</div>

{% endblock %}

{% block content %}
  <div style="text-align: center;">

    <p>Muy bien. Ahora realizará la tarea de codificación en los próximos tres minutos. Permanezca concentrado.</p>
     <p>   Dé click en "Siguiente".  </p>
  </div>


  <button style="margin-top: 10px; display: block; margin-left: auto; margin-right: auto; background-color: #0069d9; border-color: #007bff; color: white; border-radius: 10px; border: none; padding: 5px 10px;">Siguiente</button>


{% endblock %}
