{{ block title }}
      <div style="text-align: center; color:red">
    <p>Consentimiento informado</p>

</div>
{{ endblock }}
{{ block content }}
    <form method="post">
<p align="justify"> Este documento de consentimiento informado está dirigido a participantes mayores de 18 años. Por favor, lea cuidadosamente la información descrita sobre el estudio de investigación. Siéntase en completa libertad de preguntar al personal del estudio todo aquello que no entienda. Una vez haya comprendido la información, podrá seleccionar al final de este documento la opción de participar o no en el estudio. <span style="color:black;"><b>En caso que desee participar, debe hacer click en “Sí, acepto participar” al final de este documento y escribir su nombre completo en la casilla dispuesta para ello. </b></span> En caso de que elija "No, no acepto participar", su información no será tomada en cuenta. </p>

<p align="justify"> Recuerde que su participación es voluntaria, sin embargo, en cualquier momento podrá retirarse y retirar sus datos del proyecto si así lo desea; no obstante, perderá las ganancias económicas que haya conseguido hasta el momento y sus respuestas no serán usadas en la investigación.</p>

<p align="justify"> Usted fue escogido para participar en este proyecto porque es un individuo mayor de 18 años involucrado en las dinámicas del mercado laboral. El estudio tendrá una duración máxima de 45 minutos.</p>

<p align="justify"> Se le solicitará que realice una serie de tareas en este dispositivo. Usted recibirá 250 tokens por completar la primera parte de la actividad y puede obtener tokens adicionales en la segunda parte según su desempeño en las tareas asignadas. Tenga presente que sus decisiones tendrán consecuencias sobre sus ganancias derivadas de la actividad. Los recursos con los que se financia este estudio provienen de la Dirección de Innovación e Investigación -DIeI- de la Universidad del Rosario.</p>

<p align="justify"> Las respuestas de este ejercicio se conservarán en el dispositivo electrónico que le fue asignado. Tenga claro que la información recolectada durante la actividad se utilizará para fines académicos y solo para este estudio. Sus datos personales no serán material de uso público. Inmediatamente finalice la actividad, los datos personales serán eliminados.</p>

<p align="justify"> Si obtiene ganancias, recibirá el pago mediante transacción bancaria a la cuenta que indique y que debe estar a su nombre, en caso de que no lo esté, la transacción será rechazada. Las ganancias se depositarán en su cuenta en menos de 72 horas hábiles.</p>

<p align="justify"><span style="color:black;"><b>Con la firma de este consentimiento informado usted se compromete a no divulgar información sobre esta actividad, hasta que se hayan publicado los resultados del proyecto.</b></span></p>

<p align="justify">Este experimento no contempla riesgos asociados a su integridad física, mental y/o emocional.</p>

<p align="justify">Si desea una copia de este consentimiento informado o si en algún momento desea obtener información adicional sobre el estudio, puede escribir al correo rebel@urosario.edu.co </p>

              <div style="text-align: center; color:black">
    <p><b>ACEPTACIÓN A PARTICIPAR</b> </p>

</div>

<p align="justify">Por medio del presente expreso que he leído o me ha sido leído completamente el documento de consentimiento informado, se me han aclarado las dudas y acepto participar voluntariamente en la investigación. Entiendo que tengo el derecho de retirarme de la investigación en cualquier momento sin que afecte de ninguna manera mi relación con el equipo investigador. </p>
        <div>
            <input type="radio" name="acepto" value="True" id="id_acepto_1" required>
            <label for="id_acepto_1">Sí, acepto participar</label>
        </div>

        <div>
            <input type="radio" name="acepto" value="False" id="id_acepto_2">
            <label for="id_acepto_2">No, no acepto participar</label>
        </div>
 <br>
        <p>Nombre completo: <input type="text" name="name" required></p>

        <style>
            /* CSS para transformar el texto a mayúsculas */
            input[type="text"] {
                text-transform: uppercase;
            }
        </style>

<div class="row">
    <div class="col">
        <div class="text-center">

                        <button style="margin-top: 10px; display: block; margin-left: auto; margin-right: auto; background-color: #0069d9; border-color: #007bff; color: white; border-radius: 10px; border: none; padding: 5px 10px;">Continuar</button>
        </div>
    </div>
</div>
    </form>


{{ endblock }}




