{{ block title }}
<div style="text-align: center;">
    <span style="color:blue;">Segunda etapa</span>
</div>
{{ endblock }}
{{ block content }}

<p align="justify">  En esta etapa usted realizará el mismo tipo de elección que en la pasada. Aquí evaluará ocho (8) duplas más. <span style="color:blue"><b>Usted cuenta con cien (100) tokens para apostar al candidato de su preferencia en cada dupla.</b></span></p>
<p align="justify"> Al final de esta etapa, cuando el dispositivo escoja al azar cuatro (4) duplas que serán pagadas, se sumarán las ganancias y pérdidas. Tenga presente que las ganancias y pérdidas de esta etapa se han venido acumulando con lo obtenido en la etapa anterior, incluyendo los 250 tokens de la tarea de codificación. Después de esto, usted se puede encontrar en cualquiera de estas situaciones:</p>
<p align="justify"> <li>Si el saldo acumulado al final de esta etapa es positivo, le será pagado.</li></p>
<p align="justify"> <li>Si el saldo acumulado hasta esta etapa es negativo, se descontará de los 250 tokens de la tarea de codificación y se le pagará el remanente positivo.</li> </p>
<p align="justify"> <li>Si después del descuento, usted queda con saldo negativo, no recibirá pago alguno.</li></p>
<p align="justify">  Si tiene dudas, levante la mano para resolverlas con el investigador que le acompaña. Evite siempre hacer preguntas en voz alta.</p>

<p>Ahora, dé click en "Siguiente"</p>
    <em>{{ formfields }}</em>

<div class="row">
    <div class="col">
        <div class="text-center">
            <button class="otree-btn-next btn-lg btn-primary">Siguiente</button>
        </div>
    </div>
</div>

{{ endblock }}
